.my-masonry-grid {
    display: flex;
    margin-left: -20px;
  }
  .my-masonry-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div { 
    margin-bottom: 20px;
  }
  .my-masonry-grid_column > div > a{ 
    display: block;
    padding: 20px;
    color:rgb(78, 78, 78);
    text-decoration: none;
    background: rgb(252, 231, 49);
  }
  .my-masonry-grid_column > div > a:hover{ 
    color: black;
    background: rgb(255, 241, 113);
  }

.load_button{
  padding: 15px;
  font-size: 18px;
  background-color:rgb(252, 231, 49) ;
  border: 1px  solid rgb(252, 231, 49);
  border-radius: 5px; 
  margin: 20px;
}